/*
* General page styles
*/

body {
    background-color: #695D46;
    margin:0 5%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.head {
    background-color: #CFC291;
    padding: 2% 1%;
    margin-top: 2%;
    width: 100%;
}
.main {
    padding: 2% 2%;
    background-color: #FFF6C5;
    margin: 2% auto;
    width: 100%;
   
}
.footer {
    background-color: #CFC291;
    padding: 5% 1%;
    margin-bottom: 2%;
}

.mobile-facebook {
  vertical-align: middle;
  line-height: 60px;
}

.contactButton {
    margin: 5px;
}


/* Specialized font */

.contactInfo {
    font-size: 80%;
}

.defaultLink {
    color: inherit;
}

.title {    /* For calendar page */
    font-size: 100%;
    color: white;
    text-align: center;
    background-color: #f0ad4e;
    border-radius: 5px;
    padding: 1px;
}

.dayOfWeek {
    font-weight: bold;
}

.asterisk {
    font-style: italic;
    font-size: 80%;
}


/* Code for Image slider */
.carousel{
    background: #2f4357;
    margin: 20px 0;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.warning{
    background-color: #FF712C;
    color:white;
    font-weight: 300;
}
.center-block{
  margin-bottom: 0;
}

.navbar{
  margin-bottom:0;
}

hr{
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: black;
  border:none
}

#donateBtn{
  margin-top: 10px; ;
}

.donateButton {
    margin: 0 15px 0 15px;
}

.top-link-block {
    margin: 2% 0;
    padding: 2% 0;
}

/* Extra Small Devices, Phones */

  @media only screen and (max-width : 767px) and (min-width : 0px) {
    
    .facebook-hours {
        vertical-align: middle;
        line-height: 45px;
        margin: 10px 0;
    }
    
    .topItemsList {
        padding-top: 10px;
    }
    
    

    hr{
      display: none;
    }

    #donateBtn {
      display: none;
    }

    #motto p {
      display: none;
    }

    .fa{
      display: none;
    }

  .navbar-toggle {
  position:static;
  float: none;
  padding:5px 0 5px 0;
  margin: 0;
  background-color: #DD991D;
  background-image: none;
  border: 1px solid transparent;
  border-radius:2px;
  width: 100%;
  font-size: 1.5em;
  font-synthesis: weight;
}

.navbar-brand {
   float:none;
  height: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

li.nav {
font-size: 2em;
text-align: center;
border-bottom: 1px solid black;
padding: 5px 0 5px 0;
}

li.nav a {
color: white;
}
li.nav a:visited {
color: white;
}

#logo img {
  width: 100%;
}

  }


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  #logo img{
    position: relative;
    max-width:12.5em;
    right: 25%;
    display: block;

  }
  

  .fa{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 2em;
  }

  #navEl{
    font-size: .95em;
    color: black;
  }

  #motto p{
    display: inline-block;
    text-align: left;
    /*font-style: italic;*/
  }

  .fb-page {
    margin: 20px 0;
  }


}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
  .fa{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    color: black;
  }

#logo img{
  position: relative;
  max-width:300px;
  display: block;
  right:12%;

}


  #navEl{
    font-size: 1em;
    color: black;
  }



  #motto p{
    display: inline-block;
    text-align: left;
  }

  nav{
    padding-bottom: 0;
  }
}

.btn {
    letter-spacing: 2px;
}

.fb-page {
    margin: 20px 0;
  }


/* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {
     .fa{
       display: block;
       text-align: center;
       padding-bottom: 15px;
       color: black;
       font-size: 2.5em;
     }

     #navEl{
       font-size: 1em;
       color: black;
     }

     #logo img {
       max-width:325px;
       position: relative;
       display: block;
       right:12%;

     }

     nav{
       padding-bottom: 0;
     }
   }
   
   .fb-page {
    margin: 20px 0;
  }
