/*
* General page styles
*/

.list-group {
    float: left;
    width: 20%;
    margin: 10px;
}
body {
    background-color: #695D46;
    margin:0 5%;
}
.head {
    background-color: #CFC291;
    padding: 1%;
    margin-top: 20px;
    width: 100%;
}
.main {
    background-color: #FFF6C5;
    width: inherit;
   
}
.footer {
    background-color: #CFC291;
}
/* Code for Image slider */
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.center-block{
  margin-bottom: 0;
}

.navbar{
  margin-bottom:0;
}

hr{
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: black;
  border:none
}

#donateBtn{
  margin-top: 10px; ;
}
/* Extra Small Devices, Phones */
  @media only screen and (max-width : 767px) and (min-width : 0px) {

    hr{
      display: none;
    }

    #donateBtn {
      display: none;
    }

    #moto p {
      display: none;
    }

    .fa{
      display: none;
    }

  .navbar-toggle {
  position:static;
  float: none;
  padding:0 0 5px 0;
  margin: 0;
  background-color: gray ;
  background-image: none;
  border: 1px solid transparent;
  border-radius:2px;
  width: 100%;
  font-size: 1.5em;
  font-synthesis: weight;
}

.navbar-brand {
   float:none;
  height: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

nav li {
font-size: 2em;
text-align: center;
border-bottom: 1px solid black;
padding: 5px 0 5px 0;
}

#logo img {
  width: 100%;
}

  }


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  #logo img{
    position: relative;
    max-width:12.5em;
    right: 25%;
    display: block;

  }

  .fa{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 2em;
  }

  #navEl{
    font-size: .95em;
    color: black;
  }

  #moto p{
    display: inline-block;
    text-align: left;
  }



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
  .fa{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    color: black;
  }

#logo img{
  position: relative;
  max-width:250px;
  display: block;
  right:12%;

}


  #navEl{
    font-size: 1.2em;
    color: black;
  }



  #moto p{
    display: inline-block;
    text-align: left;
  }

  nav{
    padding-bottom: 0;
  }
}

/* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {
     .fa{
       display: block;
       text-align: center;
       padding-bottom: 15px;
       color: black;
       font-size: 3em;
     }

     #navEl{
       font-size: 1.5em;
       color: black;
     }

     #logo img{
       max-width:300px;
       position: relative;
       display: block;
       right:12%;

     }

     nav{
       padding-bottom: 0;
     }
   }
