/*
* General page styles
*/

body {
    background-color: #695D46;
    margin:0 5%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    padding: 2% 2%;
    margin: 2% auto;
	background-color:#FFF6C5;
    width: 100%;
	color:black;
	box-shadow: 2px 2px #404040; /* dark gray*/
}

.head {
    background-color: #CFC291;
    padding: 2% 1%;
    margin-top: 2%;
    width: 100%;
	color:black;
	box-shadow: 2px 2px #404040; /* dark gray*/
}

/* Changing the font color in header*/
.icon-in-nav, .nav-fonts{
	color: black;
	text-shadow: 2px 2px #695D46 ;
}
.head ul.nav a:hover{
	/* background-color:#004A55; */
}

.footer {
    background-color: #CFC291;
    padding: 2% 1%;
    margin-bottom: 2%;
	color:black;
	box-shadow: 2px 2px #404040; /* dark gray*/
	
}
.foot {
    vertical-align: bottom;
    margin: 25px;

}
/*Orange buttons and panel headers */
.btn-warning, .panel-warning, .panel-warning>.panel-heading{
	background-color:#FF712C;
	border-color:#FF712C;
		
}
.btn-default, .list-group-item {
	/*background-color: #A7CDCC;*/
}
.mobile-facebook {
  vertical-align: middle;
  line-height: 60px;
}

.contactButton {
    margin: 5px;
}


/* Specialized font */

.contactInfo {
    font-size: 80%;
}

.defaultLink {
    color: inherit;
}

.title {    /* For calendar page */
    font-size: 100%;
    color: white;
    text-align: center;
    background-color: #f0ad4e;
    border-radius: 5px;
    padding: 1px;
}

.dayOfWeek {
    font-weight: bold;
}

.asterisk {
    font-style: italic;
    font-size: 80%;
}


/* Code for Image slider */
.carousel{
    background: #2f4357;
    margin: 20px 0;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.warning{
    background-color: #FF712C;
    color:white;
    font-weight: 300;
}
.center-block{
  margin-bottom: 0;
}

.navbar{
  margin-bottom:0;
}

hr{
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: black;
  border:none
}

#donateBtn{
  margin-top: 10px; ;
}

.donateButton {
    margin: 0 15px 0 15px;
}

.top-link-block {
    margin: 2% 0;
    padding: 2% 0;
}

#buildingImg
 {
    width: 100%;
 }

